<!DOCTYPE html>
<html>
  <head>
    <title>Lists</title>
    <%= csrf_meta_tags %>
	<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav>
    <div class="nav-wrapper">
      <div class="col s12">
      	<a href="/" class='breadcrumb'>All lists</a>
      	<% if List.bread_crumbs.any? %>
      		<% List.bread_crumbs.each do |crumb| %>
      			<a href="/lists/<%crumb%>" class="breadcrumb"><%= List.find(crumb).name %></a>
      		<% end %>
      	<% else %>
      		<a>no crumbs</a>
      	<% end %>
      </div>
    </div>
  </nav>
    <%= yield %>
  </body>
</html>
